
ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: black;  
  }  
    
  li {  
    float: left;  
      border-right: 1px solid brown;  
  }  
    
  li a {  
    display: block;  
    color: brown;  
   font-size:20px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
  }  
  .active{  
  background-color: black;  
  color: white;  
  }  
  li a:hover {  
    background-color: black;  
    color: white;
  }


 .bgimage {
    height:100vh;
    background: url("WhatsApp Image 2022-08-24 at 10.42.46 AM.jpeg");
    
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 100%;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
    background-color:black;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.about{
    background-color:black;
    color: white;
    font-size: larger;
    letter-spacing: normal;
}
.portfolio{
    
    background-color: black;
    color: white;
}
.contact{
    background-color: black;
}
.service {
    background-color: black;
    color: white;
}
.
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
.navbarScroll.navbarDark {
    background-color: black;
}
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
